.idea
.idea/*
wp-content/uploads
wp-content/themes/theme/node_modules
wp-content/themes/theme/vendor
wp-content/cache
.htaccess
wp-config.php
.DS_Store
wp-content/themes/twentytwentyone
wp-content/themes/twentytwentytwo
wp-content/themes/twentytwentythree
wp-content/themes/theme/package-lock.json
wp-content/themes/theme/package.json
wp-content/themes/theme/webpack.mix.js
wp-content/themes/theme/mix-manifest.json
wp-content/themes/theme/css
wp-content/themes/theme/js
wp-content/themes/theme/yarn.lock
*/vendor